<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

</head>
<body>
    
    <h1>Dojo Survey</h1>
<h3 class="heading"> Data to be Collected</h3>
    <form action='/result' method='post'>
        {% csrf_token %}
        <label for="name">Your Name:</label>
        <input type='text' name='name'><br><br>
        <p>Dojo Location:</p>
                <select  name="Location"  class="form-control test"  id="exampleFormControlSelect1">
                     <option value="Palestine">Palestine</option>
                     <option value="Jordan">Jordan</option>
                     <option value="Lebanon">Lebanon</option>
                </select><br><br>
        
        <p>Favorite Languge:</p>
                <select  name="Language"  id="'lang">
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="C#">C#</option>
                </select><br><br>

        <p>Comment (Optional):</p> 
        <textarea  name="Comment"> </textarea> <br><br>
        <input type='submit' value='Button'>
</form>
</body>
</html>