<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th><h1>Welcome {{user.first_name}} !</h1></th>
            <th><a href="">Log Out</a></th>
        </tr>
        <tr>
            <th><h1>Add a Favorite Book</h1></th>
            <th><h1>All Books</h1></th>
        </tr>
        <tr>
            <td>
                <form action="newbook" method="post">
                    {%csrf_token%}
                    <label for="Btitle" >Title</label>
                    <input type="text" name="Btitle" required><br><br>

                    <label for="Bdesc" >Description</label>
                    <textarea name="Bdesc" id="" cols="30" rows="10"></textarea><br><br>
                    <input type="submit"  value="Add">
                </form>
            </td>
            <td>
            {%for z in books%}
            <a href="addbook/{{z.id}}">{{z.Btitle}}</a><br>
            <p>(Added by: {{z.Bupload.first_name}}{{z.Bupload.last_name}})</p>
            {% if z in user.fusers.all %}
            <p>This Book is one of your Favorite</p>
           
            {% else %}
            <p><a href="add_fav/{{z.id}}">Add to your Favorite</a></p>
            {%endif%}
            {% endfor %}
            </td>
        </tr>
    </table>
    <!-- {% for z in first_name.fusers.all %}
    <p>{{z.Btitle}}</p>
    {% endfor %} -->
    {% if messages %}
   <ul class="messages">    
       {% for message in messages %}    
           <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
       {% endfor %}
   </ul>
    {% endif %}
</body>
</html>