.cont{
    margin: 0 auto;
    background-color: aqua;
    display: flex;
    justify-;
    
}
.box{
    
    align-items: center;
    justify-content: space-between;
    height: 20%;
    width: 20%;
    background-color: rgba(0, 183, 255, 0.849);
    border: 2px solid black;
}